<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head>{{ HEAD }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#15293F" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#15293F" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#15293F" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="Delocalized Narratives is based on the Google Reasearch's Localized Narratives (by Jordi Pont-Tuset, Jasper Uijlings, Soravit Changpinyo, Radu Soricut, and Vittorio Ferrari) that explored connections between image and language. Each narrator had to describe one image by moving a mouse over the elements, thereby creating a dataset with coordinates, timestamps and sound, all available online. The work here consists in subtracting any signifier from the image (or considered as such by the narrator) by following that path with a large white ellipse, leaving no object or people in the image. A dialogue then takes place between a disconnected text and what became a possible image.">
    <meta property="og:url" content="delocalized.netlify.com" />
    <meta property="og:type" content="artwork" />
    <meta property="og:title" content="Delocalized Narratives (ongoing)" />
    <meta property="og:description" content="Delocalized Narratives is based on the Google Reasearch's Localized Narratives (by Jordi Pont-Tuset, Jasper Uijlings, Soravit Changpinyo, Radu Soricut, and Vittorio Ferrari) that explored connections between image and language. Each narrator had to describe one image by moving a mouse over the elements, thereby creating a dataset with coordinates, timestamps and sound, all available online. The work here consists in subtracting any signifier from the image (or considered as such by the narrator) by following that path with a large white ellipse, leaving no object or people in the image. A dialogue then takes place between a disconnected text and what became a possible image." />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image" content="delocalized-narratives.png" />
    <link rel="stylesheet" href="/css/material-icons.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,400i,600,600i,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>
<body {{ BODY_ATTRS }}>
    {{ APP }}
    <div class="back-to-top">
        <a href="#top" class="btn shadow">
            Top
        </a>
    </div>

    
</body>
</html>