<template>
    <nav>
        <!--<nuxt-link to="/">Cartes postales</nuxt-link>
        <nuxt-link to="/indd">Texte libre</nuxt-link>-->
    </nav>
</template>

<script>
export default {}
</script>

<style lang="scss">

</style>
