<template>
    <article>
        <figure :style="'padding-top:'+randomNumber()+'px'">
            <a 
            data-fancybox="delocalized" 
            :href="'/coco/delocalized-'+count+'.jpg'"
            :data-caption="description"
            >
                <img :src="'/coco/delocalized-'+count+'.jpg'" :alt="description" loading="lazy">
            </a>
            <figcaption v-if="description">{{ description }}</figcaption>
        </figure>
    </article>
</template>

<script>
export default {
  props: {
      description: String,
      id: String,
      count: String,
      padTop: Number
  },
  data() {
      return {
          isFlipped: false,
      }
  },
  methods: {
      toggle: function(){
        this.isFlipped = !this.isFlipped;
      },
  
    randomNumber : function(){
        return Math.floor(Math.random() * (200 - 1 + 1)) + 1;
    }
        
    }
}
</script>

<style>
</style>
