<template>
<div>
  <h1 class="pagetitle">{{ pagetitle }}</h1>
<p>Delocalized Narratives is based on the Google Reasearch's <em><a href="https://arxiv.org/pdf/1912.03098.pdf" download>Localized Narratives</a></em> (by Jordi Pont-Tuset, Jasper Uijlings, Soravit Changpinyo,
Radu Soricut, and Vittorio Ferrari) that explored connections between image and language. Each narrator had to describe one image by moving a mouse over the elements, thereby creating a dataset with coordinates, timestamps and sound, all available online.</p>
<p>The work here consists in subtracting any signifier from the image (or considered as such by the narrator) by following that path with a large white ellipse, leaving no object nor people in the image.
A dialogue then takes place between a disconnected text and what became a <em>possible</em> image.</p>
<p>Images are from the <a href="https://cocodataset.org/" target="_blank">COCO Dataset</a> (Common Objects in Context / Val-2017).</p>
  <div class="galerie">
    <Narrative
    v-for="caption of captions" :key="caption.id"
    :description="caption.caption"
    :id="caption.id"
    :count="caption.count"
    :isFlipped="true"
    />
  </div>
  </div>
</template>

<script>
import Narrative from "~/components/Narrative";
import Captions from "@/data/captions.json";

export default {
  components: {
    Narrative
  },
  data() {
      return {
        //pagetitle: "'Here is the water, and at above here is the sky.'",
        pagetitle: "'In front of the people there is a path.'",
        captions: Captions
      }
    },
}
</script>

<style lang="scss">
// VARIABLES

$basecolor: rgb(47, 48, 48);
$links: rgb(0, 92, 197);

body {
   font-family: 'Playfair Display', serif;
background: rgb(182,171,189);
background: linear-gradient(139deg, rgba(182,171,189,1) 0%, rgba(194,240,221,1) 50%, rgba(222,207,184,1) 96%, rgba(252,176,69,1) 100%);
}
nav {
    display:flex;
    justify-content: flex-end;
    //margin-bottom:1rem;
    a {
        margin:0 1rem 1rem 0;
        color:$links;
        //font-weight:600;
        transition:all ease .2s;
        &:hover {
            text-decoration:none;
            color:darken($links,20%);
        }
    }
}
h1 {
    &.pagetitle {
        font-size:2.5rem;
        margin-bottom:1.5rem;
    }
}

article {
    h2 {
        font-weight:700;
        font-size:1.1rem;
        display:flex;
        justify-content: space-between;
    }
    
    figure {
        margin:0;
    }
    figcaption {
      margin-top:.25rem;
      font-size:1.1rem;
      text-align: center;
      padding:.5rem 1rem;
    
    }
    img {
      width:100%;
      height:auto;
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
      transition:all ease .2s;
      border-radius:6%;
      margin-bottom:.5rem;
      &:hover {
        transform: scale(1.01);
      }
    }
}
.fancybox-is-open .fancybox-bg {
    opacity: .97;
}
.fancybox-bg {
    background:#ececec !important;
}
.fancybox-caption {
  font-size:1.2rem;
  color:#000;
  background:none;
}
.fancybox-caption__body {
    padding: 0 10vw 1vh;
}
.fancybox-slide--image {
    padding: 10rem !important;
}
.fancybox-image {
  border-radius:3%;
}

.galerie {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
@media screen and(min-width:500px) {
  .galerie {
    display: grid;
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     img {
      margin-bottom:.5rem;
    }
    figcaption {
      font-size:12px;
      padding:0 .5rem;
    }
  }
 
}
@media screen and(min-width:1000px) {
  .galerie {
    display: grid;
    grid-gap: 1.5rem .5rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    img {
      margin-bottom:.2rem;
      &:hover {
        transform: scale(1.02);
      }
    }
    figcaption {
      font-size:8px;
      padding:0 .2rem;
    }
    
  }
}
@media screen and (max-width:599px) {
  article {
    figure {
        padding-top:0 !important;
    }
  }
}
.back-to-top {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
</style>
